{{- /* NOTE: "chezmoi" is present as work around for https://github.com/twpayne/chezmoi/discussions/1724 */ -}}
{{- $cacheDir := joinPath .chezmoi.cacheDir "custom/external"  -}}
{{- $cfg := dict "chezmoi" .chezmoi "cacheDir" $cacheDir "cacheExpiration" (mul 60 60 24) -}}

"{{ .fontDir }}":
  type: archive
  {{- $hackNerdFontVersion := includeTemplate "get-github-latest-release" (list "ryanoasis/nerd-fonts" $cfg) }}
  url: "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $hackNerdFontVersion }}/Hack.zip"
  exclude: ["LICENSE.md", "README.md"]

".oh-my-zsh":
  type: archive
  {{- $omzVersion := includeTemplate "get-github-head-revision" (list "ohmyzsh/ohmyzsh" $cfg) }}
  url: "https://github.com/ohmyzsh/ohmyzsh/archive/{{ $omzVersion }}.tar.gz"
  stripComponents: 1

".oh-my-zsh/custom/plugins/zsh-syntax-highlighting":
  type: archive
  {{- $zshSyntaxHighlightingRevision := includeTemplate "get-github-head-revision" (list "zsh-users/zsh-syntax-highlighting" $cfg) }}
  url: "https://github.com/zsh-users/zsh-syntax-highlighting/archive/{{ $zshSyntaxHighlightingRevision }}.tar.gz"
  stripComponents: 1
  exact: true

".oh-my-zsh/custom/plugins/zsh-autosuggestions":
  type: archive
  {{- $zshAutoSuggestionsRevision := includeTemplate "get-github-head-revision" (list "zsh-users/zsh-autosuggestions" $cfg) }}
  url: "https://github.com/zsh-users/zsh-autosuggestions/archive/{{ $zshAutoSuggestionsRevision }}.tar.gz"
  stripComponents: 1
  exact: true

".oh-my-zsh/custom/plugins/zsh-completions":
  type: archive
  {{- $zshCompletionsRevision := includeTemplate "get-github-head-revision" (list "zsh-users/zsh-completions" $cfg) }}
  url: "https://github.com/zsh-users/zsh-completions/archive/{{ $zshCompletionsRevision }}.tar.gz"
  stripComponents: 1
  exact: true

".oh-my-zsh/custom/themes/powerlevel10k":
  type: archive
  {{- $p10kRevision := includeTemplate "get-github-head-revision" (list "romkatv/powerlevel10k" $cfg) }}
  url: "https://github.com/romkatv/powerlevel10k/archive/{{ $p10kRevision }}.tar.gz"
  stripComponents: 1

".config/gitalias/gitalias.txt":
  type: file
  url: "https://github.com/GitAlias/gitalias/raw/main/gitalias.txt"

".nvim":
  type: archive
  url: "https://github.com/neovim/neovim/releases/download/stable/nvim-{{ if eq .chezmoi.os "linux" }}linux64{{ else }}macos{{ end }}.tar.gz"
  stripComponents: 1

".config/nvim":
  type: archive
  {{- $nvchadVersion := includeTemplate "get-github-head-revision" (list "NvChad/NvChad" $cfg) }}
  url: "https://github.com/NvChad/NvChad/archive/{{ $nvchadVersion }}.tar.gz"
  stripComponents: 1

".local/bin/kubectl":
  type: file
  {{- $kubectlVersion := includeTemplate "get-external-resource" (list "https://dl.k8s.io/release/stable.txt" $cfg) }}
  url: "https://dl.k8s.io/release/{{ $kubectlVersion }}/bin/{{ .chezmoi.os }}/{{ .chezmoi.arch }}/kubectl"
  executable: true

".local/bin/kubecolor":
  type: archive-file
  {{- $kubecolorVersion := includeTemplate "get-github-latest-release" (list "hidetatz/kubecolor" $cfg) }}
  url: "https://github.com/hidetatz/kubecolor/releases/download/{{ $kubecolorVersion }}/kubecolor_{{ substr 1 (len $kubecolorVersion) $kubecolorVersion }}_{{ .chezmoi.os | title  }}_{{ .unix_arch }}.tar.gz"
  path: kubecolor
  executable: true

".local/bin/kubectx":
  type: archive-file
  {{- $kubectxVersion := includeTemplate "get-github-latest-release" (list "ahmetb/kubectx" $cfg) }}
  {{- $kubectxRelease := printf "%s_%s_%s"  $kubectxVersion .chezmoi.os .unix_arch }}
  url: "https://github.com/ahmetb/kubectx/releases/download/{{ $kubectxVersion }}/kubectx_{{ $kubectxRelease }}.tar.gz"
  path: kubectx
  executable: true

".local/bin/kubens":
  type: archive-file
  url: "https://github.com/ahmetb/kubectx/releases/download/{{ $kubectxVersion }}/kubens_{{ $kubectxRelease }}.tar.gz"
  path: kubens
  executable: true

".oh-my-zsh/custom/plugins/external-completions/_kubectx.zsh":
  type: file
  url: "https://github.com/ahmetb/kubectx/raw/{{ $kubectxVersion }}/completion/_kubectx.zsh"

".oh-my-zsh/custom/plugins/external-completions/_kubens.zsh":
  type: file
  url: "https://github.com/ahmetb/kubectx/raw/{{ $kubectxVersion }}/completion/_kubens.zsh"

# Required by kubectx and kubens
".local/bin/fzf":
  type: archive-file
  {{- $fzfVersion := includeTemplate "get-github-latest-release" (list "junegunn/fzf" $cfg) }}
  url: "https://github.com/junegunn/fzf/releases/download/{{ $fzfVersion }}/fzf-{{ $fzfVersion }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.{{ if eq .chezmoi.os "darwin" }}zip{{ else }}tar.gz{{ end }}"
  path: fzf
  executable: true

".local/bin/kubebuilder":
  type: file
  {{- $kubebuilderVersion := includeTemplate "get-github-latest-release" (list "kubernetes-sigs/kubebuilder" $cfg) }}
  url: "https://github.com/kubernetes-sigs/kubebuilder/releases/download/{{ $kubebuilderVersion }}/kubebuilder_{{ .chezmoi.os }}_{{ .chezmoi.arch }}"
  path: kubebuilder
  executable: true

".local/bin/kind":
  type: file
  {{- $kindVersion := includeTemplate "get-github-latest-release" (list "kubernetes-sigs/kind" $cfg) }}
  url: "https://github.com/kubernetes-sigs/kind/releases/download/{{ $kindVersion }}/kind-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
  path: kind
  executable: true

".local/bin/k9s":
  type: archive-file
  {{- $k9sVersion := includeTemplate "get-github-latest-release" (list "derailed/k9s" $cfg) }}
  url: "https://github.com/derailed/k9s/releases/download/{{ $k9sVersion }}/k9s_{{ .chezmoi.os | title }}_{{ .chezmoi.arch }}.tar.gz"
  path: k9s
  executable: true

".local/bin/helm":
  type: archive-file
  {{- $helmVersion := includeTemplate "get-github-latest-release" (list "helm/helm" $cfg) }}
  url: "https://get.helm.sh/helm-{{ $helmVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
  path: {{ .chezmoi.os }}-{{ .chezmoi.arch }}/helm
  executable: true

".local/bin/stern":
  type: archive-file
  {{- $sternVersion := includeTemplate "get-github-latest-release" (list "stern/stern" $cfg) }}
  url: "https://github.com/stern/stern/releases/download/{{ $sternVersion }}/stern_{{ substr 1 (len $sternVersion) $sternVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
  path: stern

".nvm":
  type: archive
  {{- $nvmVersion := includeTemplate "get-github-head-revision" (list "nvm-sh/nvm" $cfg) }}
  url: "https://github.com/nvm-sh/nvm/archive/{{ $nvmVersion }}.tar.gz"
  stripComponents: 1

".rbenv":
  type: archive
  {{- $rbenvVersion := includeTemplate "get-github-latest-release" (list "rbenv/rbenv" $cfg) }}
  url: "https://github.com/rbenv/rbenv/archive/refs/tags/{{ $rbenvVersion }}.tar.gz"
  stripComponents: 1

".rbenv/plugins/ruby-build":
  type: archive
  {{- $rubyBuildVersion := includeTemplate "get-github-latest-release" (list "rbenv/ruby-build" $cfg) }}
  url: "https://github.com/rbenv/ruby-build/archive/refs/tags/{{ $rubyBuildVersion }}.tar.gz"
  stripComponents: 1

"go":
  type: archive
  {{- $golangVersion := (index (fromJsonc (includeTemplate "get-external-resource" (list "https://go.dev/dl/?mode=json" $cfg))) 0).version }}
  url: "https://go.dev/dl/{{ $golangVersion }}.{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
  stripComponents: 1

".tmux/plugins/tpm":
  type: archive
  {{- $tpmVersion := includeTemplate "get-github-head-revision" (list "tmux-plugins/tpm" $cfg) }}
  url: "https://github.com/tmux-plugins/tpm/archive/{{ $tpmVersion }}.tar.gz"
  stripComponents: 1

".config/alacritty/themes":
  type: archive
  {{- $alacrittyThemesVersion := includeTemplate "get-github-head-revision" (list "alacritty/alacritty-theme" $cfg)}}
  url: "https://github.com/alacritty/alacritty-theme/archive/{{ $alacrittyThemesVersion }}.tar.gz"
  stripComponents: 1
