{{- /* ================================================= */ -}}
{{- /* = Disable externals when applying a single file = */ -}}
{{- /* ================================================= */ -}}
{{- if and (not (has "--source-path" .chezmoi.args))  (not (has "-S" .chezmoi.args)) -}}

{{- /* NOTE: "chezmoi" is present as work around for https://github.com/twpayne/chezmoi/discussions/1724 */ -}}
{{- $cacheDir := joinPath .chezmoi.cacheDir "custom/external"  -}}
{{- $cfg := dict "chezmoi" .chezmoi "cacheDir" $cacheDir "cacheExpiration" (mul 60 60 24) -}}

{{- $fontDir := .fontDir }}
{{- $nerdFonts := list "FiraCode" "Hack" }}
{{- $hackNerdFontVersion := includeTemplate "get-github-latest-release" (list "ryanoasis/nerd-fonts" $cfg) }}

{{- range $nerdFonts }}
{{- $currentFontDir := printf "%s/%s" $fontDir . }}
"{{ $currentFontDir }}":
  type: archive
  url: {{ printf "https://github.com/ryanoasis/nerd-fonts/releases/download/%s/%s.zip" $hackNerdFontVersion . }}
  exclude: ["LICENSE.md", "README.md", "LICENCE"]
{{- end }}

".oh-my-zsh":
  type: archive
  {{- $omzVersion := includeTemplate "get-github-head-revision" (list "ohmyzsh/ohmyzsh" $cfg) }}
  url: "https://github.com/ohmyzsh/ohmyzsh/archive/{{ $omzVersion }}.tar.gz"
  stripComponents: 1

".oh-my-zsh/custom/plugins/zsh-syntax-highlighting":
  type: archive
  {{- $zshSyntaxHighlightingRevision := includeTemplate "get-github-head-revision" (list "zsh-users/zsh-syntax-highlighting" $cfg) }}
  url: "https://github.com/zsh-users/zsh-syntax-highlighting/archive/{{ $zshSyntaxHighlightingRevision }}.tar.gz"
  stripComponents: 1
  exact: true

".oh-my-zsh/custom/plugins/zsh-autosuggestions":
  type: archive
  {{- $zshAutoSuggestionsRevision := includeTemplate "get-github-head-revision" (list "zsh-users/zsh-autosuggestions" $cfg) }}
  url: "https://github.com/zsh-users/zsh-autosuggestions/archive/{{ $zshAutoSuggestionsRevision }}.tar.gz"
  stripComponents: 1
  exact: true

".oh-my-zsh/custom/plugins/zsh-completions":
  type: archive
  {{- $zshCompletionsRevision := includeTemplate "get-github-head-revision" (list "zsh-users/zsh-completions" $cfg) }}
  url: "https://github.com/zsh-users/zsh-completions/archive/{{ $zshCompletionsRevision }}.tar.gz"
  stripComponents: 1
  exact: true

".oh-my-zsh/custom/themes/powerlevel10k":
  type: archive
  {{- $p10kRevision := includeTemplate "get-github-head-revision" (list "romkatv/powerlevel10k" $cfg) }}
  url: "https://github.com/romkatv/powerlevel10k/archive/{{ $p10kRevision }}.tar.gz"
  stripComponents: 1

".bash_it":
  type: archive
  {{- $bashItVersion := includeTemplate "get-github-latest-release" (list "Bash-it/bash-it" $cfg) }}
  url: "https://github.com/Bash-it/bash-it/archive/refs/tags/{{ $bashItVersion }}.tar.gz"
  stripComponents: 1

".local/share/omf":
  type: archive
  {{- $omfVersion := includeTemplate "get-github-latest-release" (list "oh-my-fish/oh-my-fish" $cfg) }}
  url: "https://github.com/oh-my-fish/oh-my-fish/archive/refs/tags/{{ $omfVersion }}.tar.gz"
  stripComponents: 1

".config/gitalias/gitalias.txt":
  type: file
  url: "https://github.com/GitAlias/gitalias/raw/main/gitalias.txt"

".nvim":
  type: archive
  {{- $nvimVersion := includeTemplate "get-github-latest-release" (list "neovim/neovim" $cfg) }}
  url: "https://github.com/neovim/neovim/releases/download/{{ $nvimVersion }}/nvim-{{ if eq .chezmoi.os "darwin" }}macos-{{ else }}linux-{{ end }}{{ .unixArch }}.tar.gz"
  stripComponents: 1

".local/bin/kubecolor":
  type: archive-file
  {{- $kubecolorVersion := includeTemplate "get-github-latest-release" (list "hidetatz/kubecolor" $cfg) }}
  url: "https://github.com/hidetatz/kubecolor/releases/download/{{ $kubecolorVersion }}/kubecolor_{{ substr 1 (len $kubecolorVersion) $kubecolorVersion }}_{{ .chezmoi.os | title  }}_{{ .unixArch }}.tar.gz"
  path: kubecolor
  executable: true

".local/bin/kubectx":
  type: archive-file
  {{- $kubectxVersion := includeTemplate "get-github-latest-release" (list "ahmetb/kubectx" $cfg) }}
  {{- $kubectxRelease := printf "%s_%s_%s"  $kubectxVersion .chezmoi.os .unixArch }}
  url: "https://github.com/ahmetb/kubectx/releases/download/{{ $kubectxVersion }}/kubectx_{{ $kubectxRelease }}.tar.gz"
  path: kubectx
  executable: true

".local/bin/kubens":
  type: archive-file
  url: "https://github.com/ahmetb/kubectx/releases/download/{{ $kubectxVersion }}/kubens_{{ $kubectxRelease }}.tar.gz"
  path: kubens
  executable: true

".oh-my-zsh/custom/plugins/external-completions/_kubectx.zsh":
  type: file
  url: "https://github.com/ahmetb/kubectx/raw/{{ $kubectxVersion }}/completion/_kubectx.zsh"

".oh-my-zsh/custom/plugins/external-completions/_kubens.zsh":
  type: file
  url: "https://github.com/ahmetb/kubectx/raw/{{ $kubectxVersion }}/completion/_kubens.zsh"

".nvm":
  type: archive
  {{- $nvmVersion := includeTemplate "get-github-head-revision" (list "nvm-sh/nvm" $cfg) }}
  url: "https://github.com/nvm-sh/nvm/archive/{{ $nvmVersion }}.tar.gz"
  stripComponents: 1

".rbenv":
  type: archive
  {{- $rbenvVersion := includeTemplate "get-github-latest-release" (list "rbenv/rbenv" $cfg) }}
  url: "https://github.com/rbenv/rbenv/archive/refs/tags/{{ $rbenvVersion }}.tar.gz"
  stripComponents: 1

".rbenv/plugins/ruby-build":
  type: archive
  {{- $rubyBuildVersion := includeTemplate "get-github-latest-release" (list "rbenv/ruby-build" $cfg) }}
  url: "https://github.com/rbenv/ruby-build/archive/refs/tags/{{ $rubyBuildVersion }}.tar.gz"
  stripComponents: 1

".pyenv":
  type: archive
  {{- $pyenvVersion := includeTemplate "get-github-latest-release" (list "pyenv/pyenv" $cfg) }}
  url: "https://github.com/pyenv/pyenv/archive/refs/tags/{{ $pyenvVersion }}.tar.gz"
  stripComponents: 1

".tmux/plugins/tpm":
  type: archive
  {{- $tpmVersion := includeTemplate "get-github-head-revision" (list "tmux-plugins/tpm" $cfg) }}
  url: "https://github.com/tmux-plugins/tpm/archive/{{ $tpmVersion }}.tar.gz"
  stripComponents: 1

".config/alacritty/themes":
  type: archive
  {{- $alacrittyThemesVersion := includeTemplate "get-github-head-revision" (list "alacritty/alacritty-theme" $cfg)}}
  url: "https://github.com/alacritty/alacritty-theme/archive/{{ $alacrittyThemesVersion }}.tar.gz"
  stripComponents: 1

".local/bin/lazygit":
  type: archive-file
  {{- $lazygitVersion := includeTemplate "get-github-latest-release" (list "jesseduffield/lazygit" $cfg) }}
  url: "https://github.com/jesseduffield/lazygit/releases/download/{{ $lazygitVersion }}/lazygit_{{ substr 1 (len $lazygitVersion) $lazygitVersion }}_{{ .chezmoi.os | title }}_{{ .unixArch }}.tar.gz"
  path: lazygit
  executable: true

".local/bin/tran":
  type: archive-file
  {{- $tranVersion := includeTemplate "get-github-latest-release" (list "abdfnx/tran" $cfg) }}
  url: "https://github.com/abdfnx/tran/releases/download/{{ $tranVersion }}/tran_{{ if eq .chezmoi.os "darwin" }}macos{{ else }}{{ .chezmoi.os }}{{ end }}_{{ $tranVersion }}_{{ .chezmoi.arch }}.zip"
  stripComponents: 1
  path: bin/tran

".figlet":
  type: archive
  {{- $figletVersion := includeTemplate "get-github-head-revision" (list "cmatsuoka/figlet" $cfg) }}
  url: "https://github.com/cmatsuoka/figlet/archive/{{ $figletVersion }}.tar.gz"
  stripComponents: 1
  exclude: ["*/Makefile", "**/fonts/*"]

".figlet/fonts":
  type: archive
  {{- $figletFontsVersion := includeTemplate "get-github-head-revision" (list "xero/figlet-fonts" $cfg) }}
  url: "https://github.com/xero/figlet-fonts/archive/{{ $figletFontsVersion }}.tar.gz"
  stripComponents: 1
  exclude: ["*.md"]
{{- end -}}
