[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}

[core]
  editor = {{ .editor | quote }}
  excludesfile = ~/.gitignore

[init]
  defaultBranch = main

[alias]
  # Common typos.
  ull = pull
  ush = push
  upll = pull
  checkotu = checkout
  pul = pull
  psh = push
  # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff

[url "git@github.com:"]
  insteadOf = https://github.com/

[difftool]
  # Run the difftool immediately, don't ask 'are you sure' each time.
  prompt = false

[pager]
  # Use a pager if the difftool output is larger than one screenful,
  # consistent with the behaviour of `git diff`.
  difftool = true

[diff]
  # Set difftastic as the default difftool, so we don't need to specify
  # `-t difftastic` every time.
  tool = difftastic
  external = difft

[include]
path = ~/.config/gitalias/gitalias.txt
