#!/bin/bash

{{ template "lib/logging" }}
{{ template "ensure-linux-distro" (list . "ubuntu" "debian") }}
{{ $requirements := includeTemplate "get-requirements" "requirements/pkglist" }}
{{- $sudo := includeTemplate "get-sudo" . }}
# requirements hash: {{ $requirements | sha256sum }}

set -eufo pipefail

log_task "[packages]"

log_step "[packages] Updating"
{{ $sudo }}apt-get update

log_step "[packages] Install - Start"
{{ $sudo }}apt-get install -y {{ $requirements }}
log_step "[packages] Install - Complete"

log_done "[packages] Setup complete"
