#!/bin/bash

# {{ template "lib/logging" }}
# {{ template "ensure-linux-distro" (list . "ubuntu" "debian") }}
# {{- $sudo := includeTemplate "get-sudo" . }}

log_task "[docker]"

log_step "[docker] Removing stale packages"
{{ $sudo }}apt-get remove docker docker-engine docker.io containerd runc

log_step "[docker] Adding Docker's official GPG key"
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install ca-certificates curl gnupg
{{ $sudo }}install -m 0755 -d /etc/apt/keyrings
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | {{ $sudo }}gpg --dearmor -o /etc/apt/keyrings/docker.gpg
{{ $sudo }}chmod a+r /etc/apt/keyrings/docker.gpg

log_step "[docker] Adding repository to Apt sources"
echo \
    "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
    $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
    {{ $sudo }}tee /etc/apt/sources.list.d/docker.list > /dev/null

log_step "[docker] Updating Apt sources"
{{ $sudo }}apt-get update
